<!DOCTYPE html>
<html>
<head>
  <title>Urza</title>
  <%= stylesheet_link_tag    "urza/application", media: "all" %>
  <%= javascript_include_tag "urza/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
